@keyframes lasheng {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  75% {
    transform: rotateZ(5deg);
  }
}
@keyframes shark {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
}
@keyframes arrowDonw {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30%);
  }
}
@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes hand {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20%, 20%);
  }
}
